:root {
    --color-primary:#d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-textcolor: var(--color-black);
}
html {
    scroll-behavior: smooth;
    }

body {
    background: var(--text-textcolor);
    }
a {
        color: var(--text-textcolor);
    }

.visually-hidden {
                display:none;
        }
.card-category {
                display: var(--color-primary)
}
.section-tagline {
                display: var(--color-primary)
}
